

.showcase h1 {
    font-weight: 900;
    padding-bottom: 2rem !important;
    width: 80%;
    margin: auto;
   
}

.showcase ul {
    list-style: none;
   
}

.showcase ul li {
    display: flex;
    padding-bottom: 1rem;
    align-items: center;
}

.showcase p {

  line-height: 1.6;
  color: #457b9d;
  font-size: 20px;
}

@media only screen and (max-width: 900px){
    
    .showcase h1 {
        font-size: 25px;
       
    }

    h1,h2 {
        font-size: 28px;
        font-weight: 700 !important;
    }

    h3,h4 {
        font-size: 22px;
    }

    p {
        font-size: 16px !important;

    }

    .btn, button {
        padding: 0.6rem 1.5rem !important;
    }

    

    .mbm-2 {
        margin-bottom: 1.5rem;
    }
}